* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'acme';
  }

  .body{
    /*background-image: linear-gradient(to right,#f05a28,#ec008c,#f05a28);*/
    background: linear-gradient(-45deg, #ffcb30, #ec008c, #0bc7a1);
    background-size: 400% 400%;
    display: flex;
    align-content: center;
    align-items: center;
    animation: gradient 15s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  main {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

 main > h1{
    margin-top: 10%;
    padding: auto;
    margin: auto;
    text-align: center;
    width: 20%;
    color: white;
  }
  
  .score {
    margin-top: 10px;
  }

  .game-board, .start{
    width: 80%;
    display: flex;
    align-items: center;
    align-content: center;
  }

  .game-end .container{
    background-color: rgba(255, 255, 255, 0.763); 
    height: 65vh; 
    width: 70vw;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 50% 1fr; 
    gap: 2% 2%; 
    grid-template-areas: 
      "."
      "."; 
      border-radius: 20px ;
    }

    .stars{
      display: flex;
      align-items: center;
      align-content: center;
      text-align: center;
      margin: auto;
      gap: 50;
    }
    
    .fa-star{
      color: rgb(175, 175, 175);
      height: 15vh;
    }

.comments{
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.comments button{
  border-radius: 10px;
  padding-inline: 40px;
  background-color: rgba(0, 0, 0, 0.815);
  color: white;
  border: 1px none;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
transition-duration: 0.5s;
}

.comments button:hover{
  transform: scale(1.2);
  transition-duration: 0.5s;
}

  .container {
    display: grid;
    gap: 1rem;
    margin: auto;
  }
  
  .cell div {
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  }
  
  .cell {
    position: relative;
    cursor: pointer;
  }

  .cell:active{
    transform: scale(1.1);
    
  }
  
  .front-card {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    transform: rotateY(90deg);
  }

  .davanti{
    background-color: #4c4c4c9a;
  }

  .davantifoto{
    background-color: #4c4c4c9a;
  }
  
  .back-card {
    background-color: #ffffff3d;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    align-content: center;
  }

  .back-card:hover {
    background-color: #ffffff76;
  }

  .cell .fa-apple{
    width: 2vw;
    height: auto;
    color: #ffffff;
  }
  
  img {
    height: 100px;
    width: 100px;
  }
  
  .flip {
    transform: rotateY(0deg);
  }

  .match {
    transform: rotateY(0deg);
  }
  
  .show {
    transform: rotateY(0deg);
  }


  
  @media screen and (min-width: 770px) {

    .container {
      grid-template-columns: repeat(8, auto);
      gap: 20px;
    }
  
    .cell div {
      height: 140px;
    }
  }

  /*DISPLAY*/

.refresh{
  text-decoration: none;
  color: white;
}

.uno{
  color:#ffcb30;
  animation: stellauno 0.3s ;
}

.due{
  color:#ffcb30;
  animation: stelladue 0.45s ;
}

.tre{
  color:#ffcb30;
  animation: stellatre 0.6s ;
}

@keyframes stellauno {
  0% {
    color: rgb(175, 175, 175);
  }
  100% {
    color:#ffcb30;
    transform: scale(1.3);
  }
}

@keyframes stelladue {
  0% {
    color: rgb(175, 175, 175);
  }
  80% {
    color: rgb(175, 175, 175);
  }
  100% {
    color:#ffcb30;
    transform: scale(1.3);
  }
}

@keyframes stellatre {
  0% {
    color: rgb(175, 175, 175);
  }
  33% {
    color: rgb(175, 175, 175);
  }
  90% {
    color: rgb(175, 175, 175);
  }
  100% {
    color:#ffcb30;
    transform: scale(1.3);
  }
}